<html>
<head>
    <meta charset="utf-8">

    <!-- 開発バージョン、便利なコンソールの警告が含まれています -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <h1>https://jp.vuejs.org/v2/guide/forms.html</h1>

    <h2>フォーム入力バインディング</h2>
    <div id="app-1">
        <h3># テキスト</h3>
        <input v-model="msgText" placeholder="edit me">
        <p>{{ msgText }}</p>

        <h3># 複数行テキスト</h3>
        <p style="white-space: pre-line;">{{ msgTextArea }}</p>
        <textarea v-model="msgTextArea" placeholder="add multi lines"></textarea>

        <h3># チェックボックス</h3>
        <h4>単体のチェックボックスの v-model は boolean 値</h4>
        <input type="checkbox" v-model="checked" id="chk">
        <label for="chk">{{ checked }}</label>

        <h4>複数のチェックボックスの v-model は配列</h4>
        <input type="checkbox" v-model="langs" id="go" value="go"><label for="go">Golang</label>
        <input type="checkbox" v-model="langs" id="java" value="java"><label for="java">Java</label>
        <input type="checkbox" v-model="langs" id="python" value="python"><label for="python">Python</label>
        <p>{{ langs }}</p>

        <h3># ラジオボタン</h3>
        <input type="radio" v-model="picked" id="one" value="one"><label for="one">One</label>
        <input type="radio" v-model="picked" id="two" value="two"><label for="two">Two</label>
        <br><span>Picked: {{ picked }}</span>

        <h3># セレクト</h3>
        <h4>単体の選択</h4>
        <select v-model="selected">
            <option disabled value="">Please select one</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <span>Selected: {{ selected }}</span>

        <h4>複数の選択</h4>
        <select v-model="selects" multiple>
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
            <option>E</option>
        </select>
        <span>Selected: {{ selects }}</span>
    </div>
    <hr>

    <script>
        new Vue({
            el: '#app-1',

            data: {
                msgText: '',
                msgTextArea: '',
                checked: false,
                langs: [],
                picked: '',
                selected: '',
                selects: [],
            },

            methods: {

            },
        });
    </script>
</body>
</html>
