<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">

    <!-- 開発バージョン、便利なコンソールの警告が含まれています -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <h1>https://jp.vuejs.org/v2/guide/forms.html</h1>

    <div id="app-1">
        <select v-model="selected">
            <option v-for="o in options" v-bind:value="o.id">
                {{ o.name }}
            </option>
        </select>
        <span>Selected: {{ selected }}</span>
    </div>
    <hr>

    <h1>https://jp.vuejs.org/v2/guide/forms.html#%E4%BF%AE%E9%A3%BE%E5%AD%90</h1>
    <h2>修飾子</h2>
    <div id="app-2">

    </div>
    <hr>

    <script>
        new Vue({
            el: '#app-1',

            data: {
                selected: 'g',
                options: [
                    {name: 'Go', id: 'g'},
                    {name: 'Java', id: 'j'},
                    {name: 'Python', id: 'p'},
                    {name: 'Ruby', id: 'r'},
                ],
            },

            methods: {

            },
        });

        new Vue({
            el: '#app-2',

            data: {

            },

            methods: {

            },
        });
    </script>
</body>
</html>
