<html>
<head>
    <meta charset="utf-8">

    <!-- 開発バージョン、便利なコンソールの警告が含まれています -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <hr>
    <h2>https://jp.vuejs.org/v2/guide/list.html#v-for-%E3%81%A8-v-if</h2>
    <h3>v-forとv-if</h3>
    <div id="app-1">
        <ul>
            <li v-for="todo in todos" v-if="!todo.isComplete">{{ todo.content }} - <v-btn v-on:click="done(todo)">DONE</v-btn></li>
        </ul>
    </div>

    <script>
        new Vue({
            el: '#app-1',
            data: {
                todos: [
                    {isComplete: false, content: '朝食を食べる'},
                    {isComplete: false, content: '着替えをする'},
                    {isComplete: false, content: '掃除をする'},
                    {isComplete: false, content: '風呂に入る'},
                ],
            },
            methods: {
                done: function (todo) {
                    todo.isComplete = true;
                },
            },
        });
    </script>
</body>
</html>
