<html>
<head>
    <meta charset="utf-8">

    <!-- 開発バージョン、便利なコンソールの警告が含まれています -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <h1>https://jp.vuejs.org/v2/guide/components.html#%E3%82%B3%E3%83%B3%E3%83%9D%E3%83%BC%E3%83%8D%E3%83%B3%E3%83%88%E3%81%AE%E7%B7%A8%E6%88%90</h1>

    <h2>単一のルート要素</h2>
    <div id="app-1">
        <blog-post
            v-for="post in posts"
            v-bind:key="post.id"
            v-bind:post="post"
        ></blog-post>
    </div>
    <hr>

    <h1>https://jp.vuejs.org/v2/guide/components.html#%E3%82%A4%E3%83%99%E3%83%B3%E3%83%88%E3%81%A8%E3%83%A1%E3%83%83%E3%82%BB%E3%83%BC%E3%82%B8%E3%82%92%E8%A6%AA%E3%82%B3%E3%83%B3%E3%83%9D%E3%83%BC%E3%83%8D%E3%83%B3%E3%83%88%E3%81%AB%E9%80%81%E5%87%BA%E3%81%99%E3%82%8B</h1>
    <h2>イベントとメッセージを親コンポーネントに送出する</h2>
    <div id="app-2">
        <div :style="{ fontSize: postFontSize + 'em' }">
            <blog-post2
                    v-for="post in posts"
                    v-bind:key="post.id"
                    v-bind:post="post"
                    v-on:enlarge-text="postFontSize += 0.1"
            ></blog-post2>
        </div>
    </div>

    <script>
        // Vue.componentを使うと、コンポーネントをグローバルに登録
        // そうすると、ルートVueインスタンス（ new Vue() で作成されたインスタンス）で使えるようになる。
        Vue.component('blog-post', {
            props: ['post'],
            template:
                '<div>' +
                    '<h3>{{ post.title }}</h3>' +
                    '<h3>{{ post.content }}</h3>' +
                    '<h3>{{ post.publishedAt }}</h3>' +
                '</div>',
        });

        new Vue({
            el: '#app-1',
            data: {
                posts: [],
            },
            mounted: function () {
                this.posts = [
                    {id: 1, title: 'Title One', content: 'This is a content-one.', publishedAt: '2018-10-12'},
                    {id: 2, title: 'Title Two', content: 'This is a content-two.', publishedAt: '2018-12-31'},
                    {id: 3, title: 'Title Three', content: 'This is a content-three.', publishedAt: '2019-01-01'},
                ];
            },
        });

        Vue.component('blog-post2', {
            props: ['post'],
            template:
                '<div>' +
                '<h3>{{ post.title }}</h3>' +
                '<button v-on:click="$emit(\'enlarge-text\')">Enlarge text</button>' +
                '</div>',
        });

        new Vue({
            el: '#app-2',
            data: {
                posts: [],
                postFontSize: 1,
            },
            mounted: function () {
                this.posts = [
                    {id: 1, title: 'Title One', content: 'This is a content-one.', publishedAt: '2018-10-12'},
                    {id: 2, title: 'Title Two', content: 'This is a content-two.', publishedAt: '2018-12-31'},
                    {id: 3, title: 'Title Three', content: 'This is a content-three.', publishedAt: '2019-01-01'},
                ];
            },
        });
    </script>
</body>
</html>
