<html>
<head>
    <meta charset="utf-8">

    <!-- 開発バージョン、便利なコンソールの警告が含まれています -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <hr>
    <div id="app-1">
        <ul>
            <li v-for="item in items" >{{ item }}</li>
        </ul>
    </div>

    <hr>
    <div id="app-2">
        <ul>
            <li v-for="(item, index) in items" :key="item.id">INDEX[{{ index }}] {{ item.name }}</li>
        </ul>
    </div>

    <hr>
    <div id="app-3">
        <ul>
            <li v-for="item in items" :key="item.id">KEY[{{ item.id }}] {{ item.name }}</li>
        </ul>
    </div>

    <hr>
    <div id="app-4">
        <ul>
            <li v-for="(value, key, index) in object">[{{ index }}]-{{ key }} - {{ value }}</li>
        </ul>
    </div>

    <hr>
    <div id="app-5">
        <ul>
            <li v-for="item in items" >{{ item }}</li>
        </ul>
        <p>ITEM: <input v-model="item"></p>
        <p><button @click="addItem">ADD_ITEM</button></p>
    </div>

    <hr>
    <div id="app-6">
        <ul>
            <template v-for="item in items">
                <li>{{ item.msg }}</li>
                <li>{{ item.val }}</li>
            </template>
        </ul>
    </div>

    <script>
        new Vue({
            el: '#app-1',
            data: {
                items: ['A', 'B', 'O', 'AB'],
            },
        });

        new Vue({
            el: '#app-2',
            data: {
                items: [
                    {id: 1, name: 'A'},
                    {id: 2, name: 'B'},
                    {id: 3, name: 'O'},
                    {id: 4, name: 'AB'}
                ],
            },
        });

        new Vue({
            el: '#app-3',
            data: {
                items: [
                    {id: 1, name: 'A'},
                    {id: 2, name: 'B'},
                    {id: 3, name: 'O'},
                    {id: 4, name: 'AB'}
                ],
            },
        });

        new Vue({
            el: '#app-4',
            data: {
                object: {
                    first: 'John',
                    last: 'Doh',
                    age: 20,
                },
            },
        });

        new Vue({
            el: '#app-5',
            data: {
                items: ['Golang', 'Java', 'Python'],
                item: '',
            },
            methods: {
                addItem: function () {
                    this.items.push(this.item);
                },
            }
        });

        new Vue({
            el: '#app-6',
            data: {
                items: [
                    {msg: 'Hello', val: 15},
                    {msg: 'Morning', val: 20},
                    {msg: 'Hey', val: 5},
                ],
            },
        })
    </script>
</body>
</html>
