<html>
<head xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <meta charset="utf-8">

    <!-- 開発バージョン、便利なコンソールの警告が含まれています -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <!-- raw HTML -->
    <div id="app-1">
        <div>{{ msg }}</div>
        <div v-html="msg"></div>
    </div>

    <div id="app-2">
        <p><button v-bind:disabled="btnDisabled">BUTTON</button></p>
        <p><button v-bind:disabled="btnEnabled">BUTTON2</button></p>
    </div>

    <div id="app-3">
        <p v-if="isSeen">Seen</p>
        <p v-if="isNotSeen">Seen</p>
    </div>

    <div id="app-4">
        <a v-bind:href="url">To XXXX</a>
    </div>

    <p></p>

    <div id="app-5">
        <a v-on:click="doSomething">Do YYYY</a>
    </div>

    <script>
        new Vue({
            el: '#app-1',
            data: {
                msg: '<span style="color:red;">MSG</span>',
            }
        });

        new Vue({
            el: '#app-2',
            data: {
                btnDisabled: true,
                btnEnabled: false,
            },
        });

        new Vue({
            el: '#app-3',
            data: {
                isSeen: true,
                isNotSeen: false,
            },
        });

        new Vue({
            el: '#app-4',
            data: {
                url: 'https://www.google.co.jp/',
            },
        });

        new Vue({
            el: '#app-5',
            methods: {
                doSomething: function () {
                    alert('Ba');
                },
            },
        })
    </script>
</body>
</html>
